* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111; /* Dark background */
    color: white;
}

.major-mono-display-regular {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
  }

.open-sans-200 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.main {
    flex: 3;
    background-image: url(./video-images/ty.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    width: 100%;
    height: 100vh; /* Full height */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.main_text{
    margin-left: 50px;
    margin-bottom: 50px;
}

.main_text h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    padding-top: 55px;
    
}

.main_text h6 {
    font-size: 1rem;
    margin-bottom: 20px;
    opacity: 0.8;
    margin-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

.buttons {
    display: flex;
    padding-top: 60px;
}

button {
    font-size: 1rem;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: none;
    color: #d3c7b5;
    border: 1px solid orange;
    height: 40px;
    width: 150px;
    margin-right: 20px;
    opacity: 0.8;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

}

button:hover {
    border: 2px solid purple;
    font-size: 1.1rem;
    opacity: 0.6;
    transition: 0.3s;
}

footer {
    width: 100%;
    flex: 1;
    padding: 10px;
    background-color: #161414;
    position: absolute;
    bottom: 0;
    min-height: 150px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin: 0px;
}

p{
    color: orangered;
    margin-left: 20px;
    padding: 2px;
    opacity: 0.4;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

ul{
    color: orangered;
    margin-left: 30px;
    padding: 2px;
    opacity: 0.4;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

ul:hover {
    opacity: 0.8;
    font-size:1.05em;
    transition: 0.3s;
}