* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #111; /* Dark background */
    color: white;
    padding: 0;
    background-image: url(./video-images/ty.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.major-mono-display-regular {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
  }

.open-sans-200 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.up_bar{
    background-color: #161414;
    height: 60vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: centre;
    align-items: center;
    text-align: center;
}

.down_bar {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 10px;
}

.down_bar h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    padding-top: 70px;
    
}

.down_bar h6 {
    font-size: 1rem;
    margin-bottom: 20px;
    opacity: 0.8;
    margin-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

.form_up{
    width:100%;
    margin:auto;
    display:flex;
    justify-content: center;
    margin-top:120px;
    gap: 20px;
}


button {
    font-size: 1rem;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: none;
    color: #d3c7b5;
    border: 1px solid orange;
    height: 40px;
    width: 150px;
    margin-right: 20px;
    opacity: 0.8;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

}

button:hover {
    border: 2px solid purple;
    font-size: 1.1rem;
    opacity: 0.6;
    transition: 0.3s;
}

.back_but{
    margin-bottom: 10px;
}

input{
    height:40px;
    width:450px;
    border: 1px solid whitesmoke;
    border-radius:10px;
    padding:10px;
    outline: none;
}

.result-container{
    border: 1px solid whitesmoke;
    margin-bottom: 50px;
    border-radius:10px;
    padding:10px;
    outline: none;
    width:450px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    text-align: left;
}

.prediction-hide{
    visibility: hidden;
}

.prediction-non-violent-result{
    visibility: visible;
    border: 2px solid greenyellow;

}

.prediction-violent-result{
    visibility: visible;
    border: 2px solid orangered;

}

.videoes{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    margin-top: 20px;
}



.vdo{
    height:180px;
    width:260px;
    border-radius:3%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#one{
    background-image: url('./video-images/1.png');
    background-size: cover; 
}

#second{
    background-image: url('./video-images/2.png');
    background-size: cover; 
}

#third{
    background-image: url('./video-images/3.png');
    background-size: cover; 
}


#video-upload{
    background-color: white;
    border:none;
    color:#8D5EB7;
    height:25px;
    border-radius:50%;
    margin-top:auto;
    position: absolute;
    bottom: 8px;
    right: 5px;
    cursor: pointer;
    opacity:0;
}

.vdo:hover #video-upload{
    opacity: 1; 
}

.vdo:hover{
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}